.section-homepage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10rem 10rem;

  @media only screen and (max-width: $bp-700) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
  }

  .profile-image {
    margin-right: 10rem;

    @media only screen and (max-width: $bp-700) {
      margin: 0;
    }

    &__img {
      height: 30rem;
      width: auto;
    }
  }

  .profile-info {
    @media only screen and (max-width: $bp-700) {
      margin-top: 5rem;
      width: 80%;
      margin-left: 7rem;
    }
    &__intro {
      font-size: 3rem;
    }

    &__name {
      font-size: 6.8rem;
      color: $color-ascent-2;
      //   margin-bottom: 0.5rem;

      @media only screen and (max-width: $bp-800) {
        font-size: 5rem;
      }
    }

    &__title {
      margin-bottom: 1rem;
      font-size: 5.2rem;
      margin-bottom: 3rem;

      @media only screen and (max-width: $bp-800) {
        font-size: 4rem;
      }
    }

    &__about {
      width: 60%;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: 0.1rem;

      @media only screen and (max-width: $bp-800) {
        width: 90%;
      }
    }

    &__stack {
      margin: 3rem 0;
      white-space: nowrap;

      &--logo {
        height: 4rem;
        width: auto;
        margin: 0 1rem;
      }
    }

    .contact-me {
      margin-left: 3rem;
      margin-top: 5rem;

      &__btn {
        text-decoration: none;
        color: $color-secondary-3;
        font-size: 2rem;
        border: 2px solid $color-secondary-3;
        padding: 1rem 1.8rem;
        transition: all 0.2s;

        &:hover {
          color: $color-secondary-1;
          border: 2px solid $color-secondary-1;
          background-color: rgba($color-secondary-1, 0.2);
        }
      }
    }
  }
}

.section-about {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media only screen and (max-width: $bp-600) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__detailed {
    width: 50%;
    margin-left: 5rem;
    position: relative;

    @media only screen and (max-width: $bp-600) {
      width: 90%;
      // text-align: center;
      margin: 0 auto;
    }
  }

  &__arrow {
    position: absolute;
    top: -2%;
    left: -15%;
    height: 25rem;
    width: auto;

    @media only screen and (max-width: $bp-1100) {
      left: -18%;
    }

    @media only screen and (max-width: $bp-800) {
      left: -25%;
    }

    @media only screen and (max-width: $bp-600) {
      visibility: hidden;
      width: 0%;
    }
  }

  &__title {
    font-size: 3rem;
    color: $color-secondary-2;
    margin-bottom: 7rem;
    font-weight: 400;

    @media only screen and (max-width: $bp-600) {
      text-align: center;
    }
  }

  &__info {
    .profile-description {
      &__paragraph {
        font-size: 1.6rem;
        line-height: 2.5rem;
        letter-spacing: 0.5px;
        margin-bottom: 2rem;
        width: 70%;

        @media only screen and (max-width: $bp-600) {
          width: 100%;
          // text-align: center;
        }
      }
    }
  }

  .picture-catalogue {
    position: relative;

    @media only screen and (max-width: $bp-800) {
      margin-top: 10rem;
      padding-right: 5rem;
    }

    &__img {
      &--1 {
        height: 20rem;
        width: auto;
        // position: absolute;
        // top: 0;
        // right: 10%;

        @media only screen and (max-width: $bp-800) {
          height: 18rem;
        }
      }

      &--2 {
        height: 30rem;
        width: auto;
        position: absolute;
        top: 80%;
        left: 30%;

        @media only screen and (max-width: $bp-800) {
          height: 28rem;
        }
      }
    }
  }
}

.section-portfolio {
  &__title {
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: $color-white;
    border-bottom: 1px solid $color-ascent-2;
    line-height: 0.1rem;
    margin: 0rem 0 2rem;

    span {
      background-color: $color-primary-2;
      padding: 0 1rem;
      font-size: 3rem;
      //   height: 3rem;
      //   width: 25rem;
      //   color: orange;

      @media only screen and (max-width: $bp-1200) {
        visibility: none;
        width: 0%;
      }
    }

    .section-portfolio__title--text-2 {
      color: transparent;
      padding: 0 25rem;

      @media only screen and (max-width: $bp-1200) {
        padding: 0 15rem;
      }

      @media only screen and (max-width: $bp-600) {
        padding: 0 5rem;
      }
    }
  }

  .project-details {
    position: relative;
    height: 100vh;
    margin-bottom: 10rem;

    @media only screen and (max-width: $bp-1200) {
      margin-bottom: 0rem;
    }

    @media only screen and (max-width: $bp-900) {
      height: 80vh;
    }

    @media only screen and (max-width: $bp-600) {
      height: 65vh;
    }

    &--3,
    &--2 {
      margin-bottom: 30rem;

      @media only screen and (max-width: $bp-1200) {
        margin-bottom: 20rem;
      }

      @media only screen and (max-width: $bp-900) {
        margin-bottom: 5rem;
      }
    }

    .project-info {
      width: 35rem;
      height: auto;
      position: absolute;
      top: 65%;
      left: 8%;

      @media only screen and (max-width: $bp-1200) {
        top: 55%;
      }

      @media only screen and (max-width: $bp-900) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 4rem;
        text-align: center;
      }

      @media only screen and (max-width: $bp-400) {
        margin-top: 0;
      }

      // &--2 {
      //   top: 25%;
      //   left: 55%;

      //   @media only screen and (max-width: $bp-1200) {
      //     left: 65%;
      //   }
      // }

      &__title {
        color: $color-secondary-2;
        font-size: 3rem;
      }

      &__description {
        background-color: $color-primary-1;
        padding: 1.5rem 1.5rem;
        border-radius: 0.3rem;
        margin: 1rem 0;
        line-height: 2rem;
        box-shadow: 1.5rem 2rem 6rem rgba(0, 0, 0, 0.2);
      }

      &__stack {
        display: flex;
        justify-content: space-between;
        &--list {
          list-style: none;
          font-weight: 600;
          font-style: italic;
        }
      }

      &__links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1.5rem;

        @media only screen and (max-width: $bp-700) {
          justify-content: center;
          margin-top: 3rem;
        }

        &--anchor {
          margin-right: 2rem;
          &-img {
            height: 2rem;
            width: auto;
          }
        }
      }
    }

    .project-image {
      position: absolute;
      top: 10%;
      left: 25%;
      z-index: -1;

      @media only screen and (max-width: $bp-700) {
        left: 50%;
        transform: translate(-50%, 0%);
      }

      &__img {
        width: 70vw;
        height: auto;
      }
    }
  }
}

.section-experience {
  &__title {
    &--primary {
      border-bottom: 1px solid $color-ascent-2;
      line-height: 0.1rem;

      span {
        font-size: 3rem;
        color: $color-secondary-2;
        background-color: $color-primary-2;
        padding-right: 3rem;
      }
    }

    &--secondary {
      margin: 5rem 0;
      width: 50%;

      @media only screen and (max-width: $bp-700) {
        width: 80%;
      }
    }
  }

  &__testimonals {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--arrow {
      //   box-shadow: 1.5rem 2rem 6rem rgba(0, 0, 0, 0.2);
      filter: drop-shadow(2rem 1rem 0.4rem rgba(0, 0, 0, 0.2));
      cursor: pointer;
      height: 8rem;
      width: auto;
      transition: all 0.2s;

      @media only screen and (max-width: $bp-700) {
        height: 5rem;
      }

      &:hover {
        transform: translateY(-0.2rem);
        scale: 1.02;
      }
    }

    &--img {
      height: 30rem;
      width: auto;
      box-shadow: 1.5rem 2rem 6rem rgba(0, 0, 0, 0.2);
      border-radius: 1rem;

      @media only screen and (max-width: $bp-700) {
        height: 23rem;
      }

      @media only screen and (max-width: $bp-600) {
        height: 15rem;
      }
    }
  }

  &__portfolio-link {
    display: inline-block;
    width: 100%;
    margin: 0 50%;

    &--upwork {
      height: 3rem;
      margin: 5rem auto 5rem auto;
      filter: drop-shadow(2rem 1rem 0.4rem rgba(0, 0, 0, 0.2));
      cursor: pointer;
      // display: inline-block;

      &:hover {
        transform: translateY(-0.2rem);
        scale: 1.02;
      }
    }
  }
}

.section-contact {
  &__heading {
    margin-bottom: 5rem;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    color: $color-secondary-2;
  }

  &__description {
    text-align: center;
    margin: 0 auto;
    width: 45%;
    font-size: 2rem;

    @media only screen and (max-width: $bp-700) {
      width: 75%;
    }

    &--paragraph {
      margin-bottom: 2rem;
      word-spacing: 0.1rem;
      line-height: 3rem;
    }
  }

  &__button {
    margin-top: 7rem;
    display: flex;
    justify-content: center;

    &--btn {
      text-decoration: none;
      color: $color-ascent-2;
      font-size: 2rem;
      border: 2px solid $color-ascent-2;
      padding: 1rem 3.5rem;
      transition: all 0.2s;

      &:hover {
        color: $color-ascent-1;
        border: 2px solid $color-ascent-1;
        background-color: rgba($color-ascent-1, 0.2);
      }
    }
  }

  &__other-text {
    margin: 2rem auto;
    font-size: 2rem;
    text-align: center;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
      margin: 1rem 1rem;

      &--img {
        height: 4rem;
        width: auto;
      }
    }
  }
}

.section-footer {
  &__title {
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: $color-white;
    border-bottom: 1px solid $color-ascent-2;
    line-height: 0.1rem;
    margin-bottom: 5rem;

    &--text {
      background-color: $color-primary-2;
      padding: 0 1rem;
      font-size: 2rem;
      padding: 0 20rem;

      @media only screen and (max-width: $bp-600) {
        padding: 0 2rem;
      }
    }
  }
}
